.home-modal {
  color: #fefefe;
  padding: 4rem 6rem;
  max-width: 100vw;
  height: 100%;
  background-color: #d20000;
  background-image: url('/agador-bg.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 15%;

  ul {
    margin-top: 4rem;
    li {
      margin: 2rem 0;
      list-style: none;

      h2 {
        font-weight: 300;
      }
    }
  }
}

.home {
  background-image: url('/home/s-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%;
  height: 100%;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  &-slider {
    &__info {
      margin-top: 10rem;

      h2 {
        font-weight: 500;
        font-size: 40px;
        margin: 10px 0;
      }

      h3 {
        font-weight: 100;
      }

      button {
        color: white;
        background-color: #d20000;
        border-radius: 15px;
        padding: 5px 20px;
        font-weight: 100;
        border: none;
        margin-top: 10px;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: end;

      .btn {
        border: solid 1px white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 5px;
        font-weight: 100;

        p {
          font-size: 14px;
        }
        .sign {
          font-size: 22px;
          margin-bottom: 3px;
        }
      }
      .btn:first-of-type {
        margin-bottom: 20px;
      }
    }
  }

  &-welcome {
    background-color: #f3eeee;
    padding: 4rem 0;

    &__container {
      max-width: 800px;
      margin: 0 auto;

      .step-one {
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 28px;
          font-weight: 300;
          max-width: 400px;
        }

        h3 {
          margin-top: 3rem;
          margin-bottom: 1rem;
          font-size: 15px;
          font-style: italic;
        }

        p {
          font-size: 14px;
          font-weight: 200;
        }

        .underline {
          text-decoration: underline;
          margin-top: 2rem;
        }

        img {
          max-width: 357px;
        }
      }

      .cards-container {
        display: flex;
        justify-content: space-between;

        .card {
          color: white;
          background-color: black;
          text-align: center;
          width: 260px;
          height: 130px;
          padding: 15px;

          .text {
            font-size: 15px;
            font-weight: 200;
          }

          .number {
            margin-top: 13px;
            font-size: 50px;
          }
        }
      }
    }
  }

  &-benefits {
    background-image: url('/home/wc-02.jpg');
    height: 770px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    justify-content: space-between;

    &__column {
      position: relative;
      align-items: end;
      border-right: solid 1px white;
      width: 100%;
      color: white;

      h4 {
        position: absolute;
        max-width: 133px;
        font-weight: 200;
        font-size: 20px;
        top: 78%;
        left: 10%;
      }
    }

    &__column:last-of-type {
      border-right: none;
    }
  }

  &-featured {
    background-color: #f3eeee;

    &__content {
      margin: 0 auto;
      max-width: 800px;

      h3 {
        font-weight: 300;
        padding-top: 6rem;
        font-size: 28px;
        margin-bottom: 4rem;
      }

      p {
        font-weight: 200;
        margin-top: 2rem;
      }
    }

    &__grid {
      max-width: 1100px;
      margin: 0 auto;
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 8rem;
    }

    .grid-item {
      width: 545px;
      position: relative;
      margin-bottom: 8px;

      img {
        position: relative;
        width: 100%;
      }

      .view {
        position: absolute;
        top: 35%;
        right: 40%;
        color: white;
        font-weight: 100;
        border-radius: 50%;
        border: solid 1px white;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .info {
        position: absolute;
        bottom: 5%;
        color: white;
        padding: 1rem 2rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: end;

        h4 {
          font-weight: 300;
          font-size: 18px;
        }

        .type {
          background-color: #d20000;
          width: 130px;
          text-align: center;
          font-weight: 100;
          border-radius: 15px;
          padding: 4px 0;
          margin-top: 18px;
        }

        .location {
          border-radius: 15px;
          border: solid 1px white;
          font-weight: 100;
          padding: 3px 8px;
          font-size: 14px;
        }
      }
    }
  }
}
