.animation-reference {
  position: relative;
}

.home-modal, .home-principal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
}

.home-modal {
  color: #fefefe;
  padding: 4rem 6rem;
  height: 100vh;
  background-color: #d20000;
  background-image: url('/agador-bg.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier( 0.89, 0.25, 0, 0.99 );

  ul {
    li {
      margin: 2rem 0;
      list-style: none;

      h2 {
        font-family: "Archia";
        font-size: 28px;
      }
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-bottom: 1.5rem;
      letter-spacing: 3px;
      font-size: 16px;
      font-weight: bold;
    }

    p {
      font-weight: lighter;
      font-size: 18px;
      letter-spacing: 2px;
    }
  }
}

.home-principal {
  transition-timing-function: cubic-bezier( 0.89, 0.25, 0, 0.99 );
}

.home {
  &-welcome {
    background-color: #ffffff;
    padding: 4rem 0;

    &__container {
      max-width: 1000px;
      margin: 0 auto;

      .step-one {
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 36px;
          font-weight: 900;
          max-width: 390px;
        }

        h3 {
          margin-top: 3rem;
          margin-bottom: 1rem;
          font-size: 20px;
          font-style: italic;
        }

        p {
          font-size: 20px;
          font-weight: 200;
        }

        img {
          max-width: 357px;
        }
      }

      .cards-container {
        display: flex;
        justify-content: space-between;

        .card {
          color: white;
          background-color: black;
          text-align: center;
          width: 320px;
          height: 180px;
          padding: 15px;

          .text {
            font-size: 20px;
            font-weight: 200;
            letter-spacing: 2px;

            strong {
              letter-spacing: 0px;
            }
          }

          .number {
            font-size: 54px;
          }

          .mt {
            margin-top: 30px;
          }
        }
      }
    }
  }

  &-benefits {
    background-image: url('/home/wc-02.jpg');
    height: 770px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    justify-content: space-between;

    &__column {
      position: relative;
      align-items: end;
      border-right: solid 1px white;
      width: 100%;
      color: white;

      h4 {
        position: absolute;
        max-width: 133px;
        font-weight: 200;
        font-size: 24px;
        top: 78%;
        left: 10%;
      }
    }

    &__column:last-of-type {
      border-right: none;
    }
  }

  &-featured {
    background-color: #ffffff;;

    &__content {
      margin: 0 auto;
      max-width: 800px;

      h3 {
        font-weight: 300;
        padding-top: 6rem;
        font-size: 36px;
        margin-bottom: 4rem;
      }

      p {
        font-weight: 200;
        margin-top: 2rem;
        font-size: 20px;
      }
    }

    &__grid {
      max-width: 1120px;
      margin: 0 auto;
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 8rem;
    }

    .grid-item {
      width: 545px;
      position: relative;
      margin-bottom: 26px;

      img {
        width: 100%;
      }

      .view {
        position: absolute;
        top: 35%;
        right: 40%;
        color: white;
        font-weight: 100;
        border-radius: 50%;
        border: solid 1px white;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        align-items: center;
        transition: ease-out 0.3s;
      }

      .view:hover {
        background-color: white;
        color: #424242;
      }

      .info {
        position: absolute;
        bottom: 5%;
        color: white;
        padding: 1rem 2rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: end;

        h4 {
          font-weight: 300;
          font-size: 22px;
        }

        .type {
          background-color: #d20000;
          width: 130px;
          text-align: center;
          font-weight: 100;
          border-radius: 15px;
          padding: 4px 0;
          margin-top: 18px;
        }

        .location {
          border-radius: 15px;
          border: solid 1px white;
          font-weight: 100;
          padding: 3px 16px;
          font-size: 20px;
        }
      }
    }
  }
}

.flip-card {
  // width: 320px;
  // height: 504px;
  perspective: 2000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  backface-visibility: hidden;
}
.flip-card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flip-card-back {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 32px;
  background-color: #B1CFC8;
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}
