.team {
  background-color: white;


  .team {
    color: black;
    padding: 4rem 6rem 1rem;
   

    &-content {
      max-width: 1000px;
      margin: 6rem auto 0rem;
    

      h1 {
      color: black;
        font-weight: 500;
        font-size: 42px;
      }

      h2 {
      color: black;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 4px;
        margin-top: 1rem;
      }
    }

    &-photos {
      max-width: 1100px;
      margin: 4rem auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      text-align: center;
     
      

     h3{
      color: black;
            font-size: 24px;
     }

     p {
      color: black;
      font-size: 18px;
      letter-spacing: 2px;
      padding-bottom: 3.5rem;
    }
      

      &__item {
        margin-top: 1.5rem;
        position: relative;
        

        .description{
          position: absolute;
          bottom: 20px;
          left: 20px;
          pointer-events: none;

          h3 {
            color: black;
            font-size: 24px;
          }

          p {
            color: black;
            font-size: 18px;
            letter-spacing: 2px;
          }
        }

        .image-container {
          
          h3{
            font-size: 24px;
          } 
        }


        .contenedor {
          text-align: center; // No es necesario `!important` a menos que haya conflictos
          margin-top: 20px;
         
  
          h3 {
            color: black;
            font-size: 54px;
          }
  
          p {
            color: black;
            font-size: 18px;
            letter-spacing: 2px;
          }
        }

        
        .flashlight {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          background: radial-gradient(circle at -100px -100px, transparent 0%, #0000002e 150px);
         
        }
      }
    }
  }

  .light {
    font-size: 32px;
    font-weight: 300;
    margin-top: 3rem;
    border-bottom: solid 1px white;
    padding-bottom: 6rem;
  }

  .strong {
    margin: 3rem;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 9rem;
    font-family: 'Archia';
  }

  footer {
    padding-top: 3rem !important;
  }

  .container-principal {
    
    background-color: black !important;
  }
}

@media (max-width: 900px) {
  .team {
    .team {
      padding: 4rem 1rem 1rem;
      margin-bottom: -1px;

      &-content h1 {
        font-size: 30px;
        padding: 1rem;
      }

      &-content h2{
        padding: 1rem;
      }

      &-photos {
        margin: 2rem auto;
      }
    }
  }
}
