.new {
  .title-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 12rem;

    .information {
      text-align: center;
      max-width: 800px;
      margin: 0 auto;

      h1 {
        font-weight: 100;
        margin-top: 4px;
        font-size: 26px;
      }

      h2 {
        color: #a5a2a2;
        font-weight: 100;
        font-size: 20px;
      }
    }
  }

  

  .container.text {
    text-align: justify;
    padding-top: 0rem;
  }

  .text {
    p {
      max-width: 800px;
      font-size: 20px;
      margin: 16px auto;
    }
  }

  footer .container {
    max-width: 100%;
  }

  footer {
    border-top: solid 1px white;
    margin-top: 7rem;
  }

  .grid-container {
    display: flex;
    justify-content: space-between;
    max-width: 945px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2rem;
  }

  .grid-item {
    margin: 0 auto;
    width: 65%;
    position: relative;
    margin-bottom: 26px;
    max-width: 600px;
    margin-top: 5rem;

    img {
      position: relative;
      width: 100%;
    }

    .info {
      position: absolute;
      bottom: 5%;
      color: white;
      padding: 1rem 2rem;
      display: flex;
      width: 100%;
      flex-direction: column;

      h3 {
        font-weight: 300;
        font-size: 20px;
        margin: 0;
        font-style: inherit;
        max-width: 240px;
      }

      .date {
        font-weight: 100;
        font-size: 16px;
        color: #a5a2a2;
      }
    }
  }

  .underline-container {
    margin: 4rem auto;
  }

  footer {
    margin-top: 5rem;
  }
}

@media (max-width: 900px) {
  .new {
    .container.text {
      padding: 0 3rem;
    }

    .text p {
      color: black;
    }

    .title-container {
      padding-top: 8rem;
    }

    .grid-container {
      display: inherit;
      margin-top: 3rem;
    }
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center; // Centrado vertical
  align-items: center;
  
  height: 100vh; // Ocupa toda la altura de la pantalla
  padding: 4rem 6rem; // Alineado con tu diseño original
  background-color: #e0e0e0; // Color de fondo del skeleton
  overflow: hidden; // Asegúrate de que no haya desbordamientos
}

.skeleton {
  background: #d1d1d1; // Color del skeleton
  border-radius: 4px; // Bordes redondeados
  margin: 10px 0; // Espaciado
  animation: shimmer 1.5s infinite linear; // Efecto de brillo
}

.skeleton-date {
  height: 54px; // Altura del título
  width: 10%; // Ancho del título
  margin-top: 1%; // Alineado con el margen superior del título en tu diseño
}


.skeleton-title {
  height: 54px; // Altura del título
  width: 65%; // Ancho del título
  margin-top: 1%; // Alineado con el margen superior del título en tu diseño
}

.skeleton-text {
  height: 20px; // Altura del texto
  width: 65%; // Ancho del texto
}

.skeleton-image {
  height: 70%; // Altura de la imagen
  width: 50%; // Ancho de la imagen
  margin: 10px 0; // Espaciado
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    background-color: #e0e0e0; // Color inicial
    opacity: 0.7; // Opacidad inicial
  }
  50% {
    background-color: #d1d1d1; // Color al 50% del pulso
    opacity: 1; // Opacidad al 50% del pulso
  }
}

