nav {
  display: flex;
  font-family: 'Archia';
  font-weight: 200;

  p {
    margin: 0 1rem;
  }
}

.social-logos.contact {
  margin-top: 2rem;
  margin-bottom: 6rem;
  text-align: center;

  img {
    margin-top: 2rem;
  }

  p {
    font-size: 18px;
  }
}